# Dependencies
node_modules/

# Builds
dist/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.vscode/
.idea/
.DS_Store

# Coverage
coverage/

# TS build info
*.tsbuildinfo
